body {
  background-color: transparent;
}

.App {
  background-color: rgb(92, 92, 92);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0.35em 0.35em 0.85em rgba(0, 0, 0, .35), 0.225em 0.225em 0.35em rgba(0, 0, 0, .25);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.todo input {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo button {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px auto;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}