div {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 5px;
}

input {
    width: 50%;
    margin: 10px auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: ease-in-out;
}

span {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 12px 20px;
    cursor: pointer;
}